.reviews_box {
	display: block;
	position: relative;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.reviews_box .stats {
	display: flex;
	position: relative;
	align-items: center;
}

.reviews_box .stats:last-child {
	margin-bottom: 0;
}

.reviews_box .number {
	display: block;
	width: auto;
	max-width: 100px;
	margin-right: 20px;
	color: #000000;
	font-size: 64px;
	font-weight: 300;
	line-height: 1.25;
	text-align: left;
}

.reviews_box .stars {
	display: flex;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	flex-wrap: nowrap;
	align-items: center;
	width: 100px;
	height: 18px;
	background: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75004 1.63647L11.1963 6.48362L16.6667 7.26567L12.7084 11.0366L13.6425 16.3637L8.75004 13.8473L3.85754 16.3637L4.79171 11.0366L0.833374 7.26567L6.30379 6.48362L8.75004 1.63647Z' fill='%23c0c0c0'/%3E%3C/svg%3E%0A") 0 0 repeat-x;
}

.reviews_box .stars span {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	flex-grow: 0;
	flex-shrink: 0;
	width: auto;
	background: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75004 1.63647L11.1963 6.48362L16.6667 7.26567L12.7084 11.0366L13.6425 16.3637L8.75004 13.8473L3.85754 16.3637L4.79171 11.0366L0.833374 7.26567L6.30379 6.48362L8.75004 1.63647Z' fill='%23ffa500'/%3E%3C/svg%3E%0A") 0 0 repeat-x;
}

.reviews_box .rating {
	display: block;
	position: relative;
	text-align: center;
}

.reviews_box .items {
	display: block;
	position: relative;
	overflow: hidden;
}

.reviews_box .item {
	display: flex;
	align-items: flex-start;
	padding-top: 25px;
	margin-top: 25px;
	border-top: 1px solid #ebebeb;
}

.reviews_box .author {
	display: block;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	width: 100px;
	margin-right: 25px;
	text-align: center;
}

.reviews_box .avatar {
	display: block;
	position: relative;
	width: 80px;
	margin: 0 auto 10px;
}

.reviews_box .avatar img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 50%;
	z-index: 1;
}

.reviews_box .verified {
	display: block;
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 10C20 15.5229 15.5229 20 10 20C4.47714 20 0 15.5229 0 10C0 4.47714 4.47714 0 10 0C15.5229 0 20 4.47714 20 10ZM8.84331 15.2949L16.2627 7.87556C16.5146 7.62363 16.5146 7.21512 16.2627 6.96319L15.3503 6.05081C15.0983 5.79883 14.6898 5.79883 14.4379 6.05081L8.3871 12.1015L5.56214 9.27657C5.3102 9.02464 4.90169 9.02464 4.64972 9.27657L3.73734 10.189C3.4854 10.4409 3.4854 10.8494 3.73734 11.1013L7.93089 15.2949C8.18286 15.5469 8.59133 15.5469 8.84331 15.2949Z' fill='%232DAE00'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
	cursor: pointer;
	z-index: 2;
}

.reviews_box .name {
	display: block;
	margin-bottom: 6px;
	font-weight: 600;
}

.reviews_box .date {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 500;
}

.reviews_box .content {
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

.reviews_box .content p {
	margin: 0 0 15px;
}

.reviews_box .content p:last-child {
	margin-bottom: 0;
}

.reviews_box .load {
	display: flex;
	justify-content: center;
	margin: 0;
	text-align: center;
}

.reviews_box .load .button {
	display: inline-block;
	width: auto;
	margin: 30px 0 0;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}

.reviews_box .load .hidden {
	display: none;
}

.reviews_box .wait {
	display: flex;
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 0;
	padding: 0;
	margin: 0;
	text-align: center;
	transition: height 0.4s;
	z-index: 3;
}

.reviews_box .wait.is_visible {
	height: 60px;
}

.reviews_box .wait.is_visible span {
	width: 20px;
	height: 20px;
}

.reviews_box .wait span {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	width: 0;
	height: 0;
	margin: 0 5px;
	border-radius: 100%;
	background-color: #747474;
	animation: spinner 1.4s infinite ease-in-out both;
	transition: width 0.4s, height 0.4s;
}

.reviews_box .wait span:nth-child(3n + 1) {
	animation-delay: -0.32s;
}

.reviews_box .wait span:nth-child(3n + 2) {
	animation-delay: -0.32s;
}

@keyframes spinner {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1.0);
	}
}

@media all and (max-width: 576px) {

	.reviews_box .stats {
		justify-content: center;
	}

	.reviews_box .item {
		display: block;
	}

	.reviews_box .author {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: auto;
		margin: 0 0 15px;
		text-align: left;
	}

	.reviews_box .avatar {
		flex-grow: 0;
		flex-shrink: 0;
		margin: 0 15px 0 0;
	}

	.reviews_box .details {
		display: block;
		position: relative;
		flex-grow: 1;
	}

}